/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

/* Root variables */
:root {
  --primary-color: #0084f8;
  --secondary-color: #00bdfe;
  --text-color: #333;
  --background-color: #f4f4f4;
  --font-family: "Nunito", sans-serif;
  --button-hover-color: #4682b4;
  --error-color: #ff8576;
  /* shared button settings */
  --button-padding: 10px 20px;
  --button-font-weight: 600;
  --button-font-size: clamp(2vw);
  --button-line-height: 1.2;
  --button-border-radius: 0;
  --button-transition: background-color 0.3s ease;
}

/* Reset and global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 4px;
}

html,
body {
  height: 100%;
  font-family: var(--font-family), Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header and Footer */
header,
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 0px 0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Layout */
.left-block {
  width: 33.33%;
  height: 100vh;
  background: linear-gradient(
    to bottom,
    var(--primary-color),
    var(--secondary-color)
  );
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3%;
  box-sizing: border-box;
}

.main-block {
  margin-left: 33.33%;
  padding: 5%;
  min-height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* Typography */
.hi-text {
  font-weight: 600;
  font-size: clamp(1.8rem, 3vw, 2rem);
  text-align: center;
  letter-spacing: 2px;
  max-width: 100%;
}

.hi-text h2 {
  margin: 0;
  line-height: 1.2;
  display: inline-block;
  max-width: 100%;
  font-size: clamp(2.5rem, 5vw, 2.9rem);
}

.left-block .hi-text {
  color: white;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}

.left-block .info-text {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  font-size: 1.5rem;
}

.main-block .info-text {
  text-align: left;
  color: var(--text-color);
  margin: 25px 0 40px;
  font-size: 1.3rem;
  max-width: 47ch;
  word-wrap: break-word;
  font-weight: 400;
}

.main-block .hi-text,
.publicdata-page .hi-text {
  text-align: left;
  color: var(--primary-color);
  font-size: clamp(1.2rem, 3vw, 2.5rem);
}

/* Buttons */
.login-buttons {
  display: flex;
  gap: 25px;
}

.login-buttons a,
.report-button,
.login-form button {
  display: inline-flex; /* Use inline-flex for better alignment */
  align-items: center; /* Center text vertically */
  justify-content: center; /* Center text horizontally */
  font-weight: var(--button-font-weight);
  text-decoration: none;
  color: white;
  padding: var(--button-padding); /* Padding around the text */
  border-radius: var(--button-border-radius);
  transition: var(--button-transition);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height); /* Ensure consistent line height */
  text-align: center; /* Center-align multi-line text */
  word-wrap: break-word; /* Allow text to wrap */
  white-space: normal; /* Allow text to wrap onto multiple lines */
  max-width: 100%; /* Ensure buttons don't exceed the container width */
  box-sizing: border-box; /* Include padding in width calculations */
}

.login {
  background-color: var(--primary-color);
}

.login:hover {
  background-color: var(--button-hover-color);
}

.free-login {
  background-color: white;
  color: var(--primary-color) !important;
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
}

.free-login:hover {
  background-color: #f0f0f0;
}

.report-button {
  background-color: var(--error-color);
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-weight: 300;
}

.report-button:hover {
  background-color: #ff4d4d;
}

/* Images */
.klus-logo {
  width: 100%;
  min-width: 14em;
  max-width: 25em;
  height: auto;
  margin-top: 15%;
}

/* Login Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 0px;
  width: 100%;
  max-width: 400px;
}

.login-info-text {
  margin-top: 10px !important;
}

.login-form label {
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 1rem;
  font-family: var(--font-family);
}

.login-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Styling the placeholder text */
.login-form input::placeholder {
  color: #aaa; /* Light gray color */
}

.login-form button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 35px 0px 0px 0px;
  font-size: var(--button-font-size);
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 45%;
  font-weight: var(--button-font-weight);
  border-radius: var(--button-border-radius);
  border: none;
  font-family: var(--font-family); /* Ensure consistent font-family */
}

.login-form button:hover {
  background-color: var(--button-hover-color);
}

/* Back Link */
.back-link {
  display: inline-block;
  margin-bottom: 60px; /* Adjust spacing below the link */
  font-size: 1rem;
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
  color: var(--text-color);
}

.back-link:hover {
  color: var(--button-hover-color);
}

/* Content container for publicdata.html */
.publicdata-container {
  margin: 100px auto; /* Add margins around the entire block */
  padding: 10px;
  max-width: 1200px; /* Optional: Limit the width for better layout */
  box-sizing: border-box;
}

/* Specific styles for publicdata.html */
.publicdata-page {
  display: block; /* Override flex layout for this page */
}

.publicdata-info-text-divider {
    border: none;
    border-top: 3px solid var(--primary-color);
    width: 440px;
    margin-top: -6px;
}

.publicdata-page .hi-text h2{
  font-size: 2.5rem !important;
  margin-bottom: 20px;
}

/* Search and Filter Section */
.search-filter {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
  margin-top: 30px;
  padding: 10px;
  border-radius: 10px;
}

.search-filter input {
  width: 375px;
  padding: 6px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 100px;
  font-family: var(--font-family);
  margin-right: 15px;
  margin-left: -10px;
}

.search-filter button {
  border-radius: 100px; /* Rounded buttons */
  padding: 6px 20px;
  font-size: 1rem;
  font-family: var(--font-family);
  transition: var(--button-transition);
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.search-filter .login{
  color: white;
  border: var(--primary-color) 1px solid;
}

.search-input {
  position: relative;
  display: inline-block;
}

.search-input i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa; /* Adjust color as needed */
}

.search-input input {
  padding-left: 45px; /* Add space for the icon */
}

.search-input input::placeholder {
  color: #aaa; /* Light gray color */
}

.publicdata-search-divider {
  border: none;
  border-top: 1px solid #ccc;
  width: 100vw;
  margin: 0;
  position: absolute;
  left: 0;
  margin-top: -6px;
}

/* Table */
.table-container {
  border-radius: 0 !important;
  font-weight: 500;
  font-size: 0.9rem;
}

.table-container table {
  table-layout: auto;
  width: 100%;
  border-collapse: collapse;
  margin-top: 60px;
  background-color: white;
  border-radius: 0 !important;
}

.table-container th {
  background-color: #001b36;
  color: white;
  padding: 10px;
  text-align: left;
  border-radius: 0 !important;
  font-weight: 500;
}

.table-container td {
  padding: 10px;
  border-bottom: 8px solid #F7F7F7;
}

/* Center the "ID" column */
.table-container th:first-child,
.table-container td:first-child {
  text-align: center;
  /* Center the content of the first column */
}

.table-container td:first-child {
  font-weight: 300;
}

.table-container td:nth-child(2) {
  font-weight: 700;
}

/* Register Block */
.register-block {
  margin-top: 20px;
  text-align: left;
}

.register-block .divider {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 140%;
}

.register-block .register-text {
  font-size: 1rem;
  color: var(--text-color);
}

.register-block .register-link {
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;
  transition: color 0.3s ease;
}

.register-block .register-link:hover {
  color: var(--button-hover-color);
}

/* Responsive Design */
@media (max-width: 768px) {
  html,
  body {
    height: 100vh;
    overflow: hidden;
  }

  .left-block {
    width: 100%;
    height: 20vh;
    position: relative;
    z-index: 1;
    padding: 4%;
  }

  .main-block {
    margin: 0 auto;
    width: 90%;
    max-width: 30rem;
    height: 80vh;
    padding: 7% 3% 0;
    position: relative;
    top: 0;
    z-index: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .hi-text {
    font-size: clamp(1rem, 4vw, 1.8rem);
    text-align: center;
  }

  .hi-text h2 {
    font-size: clamp(2.2rem, 5vw, 2.6rem);
    font-weight: 800;
  }

  .info-text {
    font-size: clamp(1.2rem, 3vw, 1.4rem) !important;
    text-align: center;
  }

  .left-block .hi-text,
  .left-block .info-text,
  .login-form label,
  .login-info-text {
    display: none;
  }

  .report-button {
    position: fixed;
  }

  .klus-logo {
    all: unset;
    margin: 0;
    max-height: 100%;
    width: auto;
  }

  .report-button {
    padding: 0.4em 1em; /* Use relative padding based on content */
    font-size: 0.9rem; /* Adjust font size for smaller screens */
    line-height: 2; /* Ensure proper spacing between lines */
  }

  .login-buttons {
    flex-direction: column; /* Stack buttons vertically */
    gap: 15px; /* Add spacing between buttons */
    line-height: 2; /* Ensure proper spacing between lines */
    font-size: 1.1rem !important; /* Adjust font size for smaller screens */
  }

  .info-text {
    margin-bottom: 30px !important; /* Force smaller spacing below the info-text */
    margin-top: 30px !important; /* Remove top margin */
  }

  .login-buttons {
    margin-top: 5px; /* Reduce spacing above the buttons */
    margin-bottom: -5px !important; /* Reduce spacing below the buttons */
    width: 100%; /* Ensure buttons take full width */
  }

  .login-form {
    margin-top: 5px !important; /* Reduce spacing between the form and the buttons */
    gap: 10px; /* Add spacing between form elements */
  }

  .login-info-text {
    margin-top: 10px !important;
    margin-bottom: 20px !important; /* Remove bottom margin */
  }

  .login-hi-text {
    margin-bottom: 20px !important;
  }

  .back-link {
    margin-bottom: 25px; /* Adjust spacing below the link */
  }

  .register-block .divider {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .login-form button {
    margin: 20px 0px 0px 0px;
    width: 100%;
  }
}
